@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

$primary-color: #dfe9ff;
$secondary-color: #1d273a;

body {
  background: #ededed;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 0 200px;
}

.navbar {
  height: 80px;
  z-index: 10;
  width: 100%;
  background-color: black;
}

.nav-item {
  font-size: 24px;
  color: white;
}

#jumbotron {
  text-align: center;
  background-color: $primary-color;
}

#new-meeting-form {
  margin: auto;
  width: 50%;

  button {
    margin: auto;
    width: 100%;
    transition: all 0.3s;

    &:hover {
      background-color: $secondary-color;
    }

  }

  #meeting-form {
    margin: auto;
    width: 80%;
    padding: 20px;
  }
}

#card-container {

  margin: auto;
  padding: 100px;
  height: 1000px;
  width: 100%;

  .meeting-card {

    display: inline-block;
    width: 400px;
    margin-top: 50px;
    transform: rotateX(-14deg) rotateY(45deg);
    transition: all 0.3s;
    box-shadow: -50px 10px 100px 5px;
    text-align: center;
    font-size: 16px;

    h5 {
      font-size: 24px;
    }

    h6 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &:hover {
      width: 600px;
      transform: rotateX(0deg) rotateY(0deg);
    }

    .card-text {
      margin: auto;
      height: 60px;
      overflow: scroll;
    }

    button {
      margin: 5px;
      font-size: 24px;
    }

  }
}

#meeting-form {
  width: 500px;
  margin: 30px;
}

#about {
  height: 150px;
}

#bg-image {
  position:absolute;
  z-index: -1;
  margin: auto;
  width: 100%;
  height: 750px;
  //background-image: url("https://cdn2-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
}

#meeting-info {
  margin: auto;
  width: 100%;
  height: 600px;


  img {
    margin: 5% 30%;
    width: 40%;
    height: 500px;
    border: 10px solid white;
  }
  #meeting-details {
    margin: auto;
    margin-top: 30px;
    width: 80%;
    text-align: center;
    font-size: 24px;

    h1 {
      font-size: 48px;
      font-weight: bolder;
    }

    h4 {
      font-size: 32px;
    }

    button {
      margin: 5px;
      font-size: 22px;
    }

    form {
      margin: auto;
      padding: 20px;
    }
  }
  li {
    font-size: 36px;
    height: 80px;
    span {
      margin: 7px;
      padding: 10px;
      float: right;
    }
  }
}

.sliding-button {

  border: 2px solid #000;
  z-index: 1;

  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: grey;
    transition: all 0.3s ease;
  }

  &:hover {
    color: #fff;
    cursor: pointer;
  }

  &:hover:after {
    left: 0;
    width: 100%;
  }
  &:active {
    top: 2px;
  }
}

#attendee-container {
  padding: 60px;
  padding-bottom: 300px;
}

#user-page {
  padding: 70px;

  h2 {
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bolder;
  }

  img {
    width: 600px;
    height: 500px;
    border-radius: 50%;
  }

  #user-info {
    margin: auto 0;
    padding-left: 80px;
    padding-right: 200px;
  }

  #endorsement-container {
    margin-top: 50px;
  }
}

.progress {
  border: 1px solid forestgreen;
}

#endorsement-list {
  li {
    font-size: 36px;
    height: 80px;
    span {
      margin: 7px;
      padding: 10px;
      float: right;
    }
    a {
      float: right;
      margin-top: 5px;
      margin-right: 10px;
      color: forestgreen;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.login-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #82b6ff;
  background: linear-gradient(to top left, #2d3ea3 0%, #82b6ff 100%);

  .login-content {
    color: white;
    padding: 40vh 80vh;
    text-align: center;

    button {
      outline: 0;
      background-color: white;
      border: 0;
      padding: 10px 15px;
      color: $secondary-color;
      border-radius: 3px;
      width: 250px;
      cursor: pointer;
      font-size: 18px;

      &:hover {
        color: $primary-color;
        background-color: $secondary-color;
      }
    }
  }

}
